**/History
**/Project Outputs*
**/Project Logs*
**/.__Previews*
**/__Previews*
UltraLibrarian
*.PrjPcbStructure
*.SchDocPre
microphone_adapter_1-0/microphone_adapter_1-0.html
microphone_adapter_1-0/microphone_adapter_1-0.txt
